# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Unit test / coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# MyPy
.mypy_cache/

# Pyright
.pyright/

# Ruff
.ruff_cache/